body{
  padding:4px;
  margin:4px;
}

header{
  text-align:center;
  background:#ADD8E6;
  background-image: url('Pictures/Instagram/flywheel.jpg');
  height:180px;
  width:100%;
  

}
h1{
  text-transform:uppercase;
  color:#FFFFFF;
  padding:20px

}
h2{
  text-transform:uppercase;
  color:#FF0000;
}
img{
  
    width:150px;
    height:120px;
    border:1px solid black;
    margin:20px;
    
}
aside.left{ 
   width:20%;
   height:550px;
   display:inline-block;
   float:left;
   background:#556B2F;
   
}
section.right{
  /*background-image:url('Pictures/Instagram/IMG_20200605_154546.jpg');*/
    width:80%;
    height:550px;
    display:inline-block;
    float:right;
    
 }
 .right p,h2{
    padding-left:3px;
 }
 .container{
 background:white;
 }
 .container p{
    font-style:bold;
    color:black;
 }
 
nav{
  font-variant: small-caps;
    
}
nav a{

  display: inline-block;
  width:140px;
  height:30px;
  text-decoration:none;
  padding-top:7px;
  margin-right:70px;
  border-radius:5px;
  background:#ffffff;
  opacity:0.5;
  color:#000000;
  
}
a:hover{
     background:#0000ff;
    
}
a:active{
     background:#ff0000;
     border:1px solid #000000; 
    
}
a:focus{
    background:#00ff00;
    border:1px solid #ff0000; 
    
}
a.active{
  background:#ffffff;
  opacity:1;
}
table{
  font-family:arial,serif,"Times new roman";
  background:#ffffff;
  line-height:30px;
  width:80%;
  margin-left:50px;
  
}
table th{
    background:#556B2F;
    border-radius:2px 2px 0 0;
    border-bottom:2px solid #90EE90;
    height:30px;
    font-size:20px;
    text-shadow:2px 2px 3px #90EE90; 
}
table tr{
   background:#90EE90;
   height:35px;
   line-height:30px;
}
table tr td{
   border:1px solid #FFFFFFF;
   opacity:0.6;
   transition-property:opacity;
   transition-duration:0.2s;
   transition-timing-finction:linear;
   transition-delay:0.2s;
}
table tr td:hover{
 opacity:1;
}


table tr td:nth-child(n+1){
  text-align:center;
}

table tr td:first-child{
  text-align:left;
}